Flask_HTTPAuth==3.2.3
redis==3.3.11
Flask_JWT_Extended==3.24.0
Flask_Babel==0.11.2
Flask_Migrate==2.1.1
Flask_Moment==0.5.2
Flask_Cors==3.0.9
Flask_Login==0.4.0
rq==1.1.0
Flask_RESTful==0.3.7
Flask_Mail==0.9.1
Flask_SQLAlchemy==2.3.2
Flask_Bootstrap==3.3.7.1
Click==7.0
Flask==1.1.1
Werkzeug==0.16.0
elasticsearch==7.0.5
marshmallow==3.2.1
python-consul==1.1.0
PyJWT==1.7.1
python-dotenv==0.12.0
